# Dependencies
**/node_modules/

# Builds / outputs
**/.next/
**/dist/
**/build/
**/out/
**/.vercel/
**/.turbo/

# Env & secrets
**/.env
**/.env.*
!**/.env.example

# Logs & caches
**/*.log
**/*.tsbuildinfo
**/.cache/
**/coverage/
**/playwright-report/
**/test-results/

# Local DB
**/*.db
**/*.db-journal

# OS
.DS_Store
Thumbs.db
